body {
  background-color: #f5f6fa;
}

.app__main {
  display: flex;
  justify-content: space-around;
}

.app__left {
  flex: 0.9;
}

.app__header {
  display: flex;
  justify-content: space-between;
  background: #7e9eb4;
  padding-top: 5px;
  height: 80px;
}

.text {
  color: #FFFFFF;
  background: #7e9eb4;
  text-shadow: #474747 3px 5px 2px;
  font-size: 55px;
  margin-top: 0px;
}

.app__info {
  display: flex;
}

.table{
  overflow-y: scroll;
  height: 400px;
  color: #6a5d5d
}

.table tr:nth-of-type(odd){
  background-color: #f3f2f8;
}

.table td {
  padding: 0.5rem;
}